@font-face {
    font-family: 'Belbo';
    src: url(fonts/Belbo-Regular.woff);
}
@font-face {
    font-family: 'Belbo-bold';
    src: url(fonts/Belbo-Bold.woff);
}
@font-face {
    font-family: 'Belbo-semibold';
    src: url(fonts/Belbo-SemiBold.woff);
}
@font-face {
    font-family: 'Belbo-thin';
    src: url(fonts/Belbo-Hair.woff);
}
@font-face {
    font-family: 'Belbo-light';
    src: url(fonts/Belbo-Light.woff);
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: Belbo;
}

img {
    -moz-user-select: none;
    -webkit-user-select: none;
    user-select: none;
}

.wrapper {
    display: flex;
    margin-left: 20px;
}

.wrapper nav {
    width: 300px;
    margin-right: 10px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.wrapper nav .search {
    display: flex;
    align-items: center;
    margin-bottom: 50px;
}
.wrapper nav .search .lens {
    width: 24px;
    height: 24px;
}
.wrapper nav .search .search-workspace {
    max-width: 90%;
    height: 30px;
    font-size: 24px;
    margin-left: 10px;
    border: none;
}

.wrapper nav .workspaces {
    display: flex;
    flex-direction: column;
}
.wrapper nav .workspaces .nav-el {
    margin-bottom: 10px;
}
.wrapper nav .workspaces .nav-el .upper  {
    align-items: center;
    display: flex;
    justify-content: space-between;
}
.wrapper nav .workspaces .nav-el .upper img {
    width: 20px;
    height: 20px;
}
.wrapper nav .workspaces .nav-el .upper .lefters {
    font-size: 24px;
    display: flex;
    align-items: center;
}
.wrapper nav .workspaces .nav-el .upper .lefters .workspace-name {
    font-size: 24px;
    display: flex;
    margin-left: 10px;
    transition: color 0.4s;
}
.workspace-name {
    color: #555555;
}
.wrapper nav .workspaces .nav-el .upper .lefters img {
    width: 24px;
    height: 24px;
}
.wrapper nav .workspaces .nav-el .lower {
    position: relative;
    padding-top: 10px;
    bottom: 6px;
    margin-left: 10px;
    overflow: hidden;
}
.lower {
    max-height: 0;
    border-left: none;
}
.wrapper nav .workspaces .nav-el .h8000AB {
    border-left-color: #8000AB;
}
.wrapper nav .workspaces .nav-el .h674EE3 {
    border-left-color: #674EE3;
}
.wrapper nav .workspaces .nav-el .hF8B33C {
    border-left-color: #F8B33C;
}
.wrapper nav .workspaces .nav-el .h007CFF {
    border-left-color: #007CFF;
}
.wrapper nav .workspaces .nav-el .h20A475 {
    border-left-color: #20A475;
}
.wrapper nav .workspaces .nav-el .hFF9392 {
    border-left-color: #FF9392;
}

.wrapper nav .workspaces .nav-el .lower .lower-el {
    align-items: center;
    display: flex;
}
.wrapper nav .workspaces .nav-el .lower .lower-el .line {
    height: 3px;
}
.wrapper nav .workspaces .nav-el .lower .lower-el .topics {
    font-size: 18px;
    color: #666666;
}

.wrapper nav .create {
    background-color: rgb(225, 236, 254);
    width: 280px;
    height: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #007CFF;
    border-radius: 20px;
    margin-bottom: 15px;
}

.wrapper nav .create .plus {
    font-family: Belbo-Thin;
    font-size: 60px;
}
.wrapper nav .create .new-space {
    font-size: 20px;
}

.wrapper main {
    border-left: #c0c0c0 2px solid;
    min-height: 100vh;
    width: 100%;
}
.wrapper main .top {
    display: flex;
    flex-direction: column;
    background-image: url('img/background/background.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.wrapper main .top .burger img {
    height: 40px;
    margin: 20px 0 0 20px;
    display: none;
}

.wrapper main .top .work-info {
    padding: 40px 10px 0px 30px;
}
.wrapper main .top .work-info {
    display: flex;
    justify-content: space-between;
}
.wrapper main .top .work-info .description {
    margin-right: 10%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}
.wrapper main .top .work-info .description .name {
    display: flex;
    align-items: center;
}
.wrapper main .top .work-info .description .name img {
    margin-right: 10px;
    height: 24px;
    width: 24px;
}
.wrapper main .top .work-info .description .name p {
    font-size: 24px;
    font-family: Belbo-bold;
    color: white;
}
.wrapper main .top .work-info .description .work-description p {
    font-size: 16px;
    color: #888888;
}
.wrapper main .top .work-info .details {
    padding-top: 20px;
}
.wrapper main .top .work-info .details .assign {
    display: flex;
    align-items: center;
}

.wrapper main .top .work-info .details .assign .assign-text {
    margin-right: 5px;
    font-size: 18px;
    color: #999999;
    
}
.wrapper main .top .work-info .details .assign .images {
    display: flex;
}
.wrapper main .top .work-info .details .assign .images .images-container {
    border-right: 1px solid #5a4ff1;
    display: flex;
    margin: 0px 5px 0px 0px;
}
.wrapper main .top .work-info .details .assign .images .images-container .profile-picture {
    height: 50px;
    width: 50px;
    border-radius: 50%;
    border: 2px solid white;
    position: relative;
}
.wrapper main .top .work-info .details .assign .add {
    width: 50px;
    height: 50px;
    background-color: rgba(100%, 100%, 100%, 0.05);
    border-radius: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    
}
.wrapper main .top .work-info .details .assign .add p {
    backdrop-filter: none;
    color: #4033f1;
    font-family: Belbo-light;
    font-size: 40px;
}

.wrapper main .top .work-info .details .date {
    margin-top: 10px;
    display: flex;
    align-items:end;
    margin-top: 30px;
}
.wrapper main .top .work-info .details .date p {
    margin-right: 10px;
    font-size: 18px;
    color: #999999;
}
.wrapper main .top .work-info .details .date .date-el {
    color: white;
    font-family: belbo-light;
    font-size: 16px;
}

.wrapper main .top .work-info .details .tags {
    margin-top: 30px;
    display: flex;
    align-items: center;
}
.wrapper main .top .work-info .details .tags p {
    margin-right: 10px;
    font-size: 18px;
    color: #999999;
}
.wrapper main .top .work-info .details .tags .tags-el {
    display: flex;
}
.wrapper main .top .work-info .details .tags .tags-el .tag {
    width: 100%;
    color: white;
    font-family: belbo-light;
    display: flex;
    align-items: center;
    background-color: rgba(100%, 100%, 100%, 0.1);
    margin-right: 5px;
    padding: 15px 10px;
    border-radius: 20px;
    white-space: nowrap
}


.wrapper main .top .options {
    margin: 30px 0px 10px 30px;
    display: flex;
}
.wrapper main .top .options .options-el {
    margin-right: 60px;
    color: #999999;
    font-size: 20px;
}

.b8000AB {
    background-color: #8000AB;
}
.b674EE3 {
    background-color: #674EE3;
}
.bF8B33C {
    background-color: #F8B33C;
}
.b007CFF {
    background-color: #007CFF;
}
.b20A475 {
    background-color: #20A475;
}
.bFF9392 {
    background-color: #FF9392;
}
.bcccccc {
    background-color: #cccccc;
}

main .todo-list {
    margin-top: 40px;
    margin-left: 30px;
    display: flex;
    flex-wrap: wrap;
}
main .todo-list .board {
    margin-right: 30px;
    min-width: 250px;
}
main .todo-list .board .naming {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
}
main .todo-list .board .naming .sphere {
    height: 18px;
    width: 18px;
    border-radius: 50%;
}
main .todo-list .board .naming .board-name {
    font-size: 24px;
    font-family: belbo-bold;
    margin-left: 10px;
    
}
main .todo-list .board .adder {
    background-color: #f5f5f5;
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-size: 20px;
    padding: 0px 20px;
    border-radius: 10px;
    margin-bottom: 20px;
}
main .todo-list .board .adder .plus {
    font-family: belbo-light;
    font-size: 40px;
}
main .todo-list .board .tasks {
    min-height: 100px;
    padding-bottom: 100px;
}
main .todo-list .board .tasks .task {
    margin-bottom: 20px;
    background-color: #f5f5f5;
    font-size: 20px;
    padding: 20px;
    padding-top: 0px;
    border-radius: 10px;
}
main .todo-list .board .tasks .task img {
    box-sizing: content-box;
    padding: 5px;
    height: 16px;
    width: 16px;
    position: relative;
    opacity: .5;
    left: 94%;
    top: 10px;
    padding: 5px;
}
main .todo-list .board .tasks .task .task-top {
    margin-bottom: 10px;
    padding-bottom: 10px;
    border-bottom: 2px solid rgb(179, 179, 179);
}
main .todo-list .board .tasks .task .task-top .task-name {
    font-family: belbo-semibold;
    background-color: #f5f5f5;
    border: none;
    font-size: 22px;
    max-width: 240px;
    margin-bottom: 10px;
}
main .todo-list .board .tasks .task .task-top .task-description {
    font-size: 15px;
    color: #888888;
    background-color: #f5f5f5;
    border: none;
    max-width: 240px;
}
main .todo-list .board .tasks .task .task-bot {
    display: flex;
    font-size: 15px;
}
main .todo-list .board .tasks .task .task-bot .day {
    max-width: 200px;
    min-width: 50px;
    font-size: 15px;
    margin-right: 7px;
    font-family: belbo-semibold;
    background-color: #f5f5f5;
    border: none;
}
main .todo-list .board .tasks .task .task-bot .time {
    font-size: 15px;
    color: #666666;
    background-color: #f5f5f5;
    border: none;
    max-width: 200px;
    min-width: 30px;
}

main .todo-list .add-board .adder {
    display: flex;
    align-items: center;
    position: relative;
    bottom: 10px;
    justify-content: space-between;
    font-size: 22px;
    width: 250px;
    border-radius: 10px;
    font-family: belbo-semibold;
    height: 54px;
}
main .todo-list .add-board .adder .plus {
    font-family: belbo-light;
    font-size: 40px;
}
main .todo-list .add-board .deleter {
    padding: 10px;
    background-color: rgb(255, 207, 207);
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 10px;
    height: 56px;
    margin-bottom: 20px;
}
main .todo-list .add-board .deleter img {
    margin-right: 10px;
    height: 24px;
}
main .todo-list .add-board .deleter p {
    color: rgb(255, 36, 36);
    font-size: 20px;
}




.wrapper .pop-up-workspace {
    position: fixed;
    top: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.7);
    width: 100%;
    height: 100%;
}
.wrapper .pop-up-workspace .pop-up-workspace-wrapper .cross-small {
    box-sizing: content-box;
    height: 24px;
    position: relative;
    left: 212px;
    background-color: #007CFF;
    border-radius: 50%;
    padding: 5px;
}
.wrapper .pop-up-workspace .pop-up-workspace-wrapper {
    position: fixed;
    top: 50%;
    left: 50%;
    width: 500px;
    height: 500px;
    border: 2px solid black;
    border-radius: 10px;
    background-color: white;
    backdrop-filter: blur(6px);
    margin-top: -250px;
    margin-left: -250px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.wrapper .pop-up-workspace .pop-up-workspace-wrapper .text {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.wrapper .pop-up-workspace .pop-up-workspace-wrapper .text .enter-name {
    font-family: belbo-bold;
    font-size: 36px;
    color: #007CFF;
}
.wrapper .pop-up-workspace .pop-up-workspace-wrapper .text .description {
    font-size: 18px;
    color: #777777;
}
.wrapper .pop-up-workspace .pop-up-workspace-wrapper .create-workspace {
    display: flex;
    flex-direction: column;
    margin-bottom: 50px;
}
.wrapper .pop-up-workspace .pop-up-workspace-wrapper .create-workspace {
    display: flex;
    flex-direction: column;
}
.wrapper .pop-up-workspace .pop-up-workspace-wrapper .create-workspace .name, .subtheme {
    padding: 5px;
    font-size: 24px;
    width: 300px;
    border: 2px solid #c0c0c0;
    border-radius: 5px;
    margin-top: 20px;
}
.wrapper .pop-up-workspace .pop-up-workspace-wrapper .create-workspace .subtheme {
    font-size: 20px;
}
.wrapper .pop-up-workspace .pop-up-workspace-wrapper .create-workspace .subtheme::placeholder {
    color: #a1a1a1;
}
.wrapper .pop-up-workspace .pop-up-workspace-wrapper .create-workspace .submit-new-workspace {
    margin-top: 20px;
    padding: 5px;
    font-size: 24px;
    width: 300px;
    border: none;
    border-radius: 5px;
    background-color: #007CFF;
    color: white;
}