@font-face {
    font-family: 'Belbo';
    src: url(fonts/Belbo-Regular.woff);
}
@font-face {
    font-family: 'Belbo-bold';
    src: url(fonts/Belbo-Bold.woff);
}
@font-face {
    font-family: 'Belbo-thin';
    src: url(fonts/Belbo-Hair.woff);
}

* {
    box-sizing: border-box;
    margin: 0;
    font-family: Belbo;
}

.wrapper {
    display: flex;
    margin-left: 20px;
}

.wrapper nav {
    width: 350px;
}
.wrapper nav .search {
    display: flex;
    align-items: center;
    margin-bottom: 50px;
}
.wrapper nav .search .lens {
    width: 24px;
    height: 24px;
}
.wrapper nav .search .search-workspace {
    width: 300px;
    height: 30px;
    font-size: 24px;
    margin-left: 10px;
    border: none;
}

.wrapper nav .workspaces {
    display: flex;
    flex-direction: column;
}
.wrapper nav .workspaces .nav-el {

}
.wrapper nav .workspaces .nav-el .upper  {
    align-items: center;
    display: flex;
    justify-content: space-between;
}
.wrapper nav .workspaces .nav-el .upper img {
    width: 20px;
    height: 20px;
}
.wrapper nav .workspaces .nav-el .upper .lefters {
    font-size: 24px;
    display: flex;
    align-items: center;
}
.wrapper nav .workspaces .nav-el .upper .lefters .workspace-name {
    font-size: 24px;
    display: flex;
    margin-left: 10px;
    color: #555555;
}
.wrapper nav .workspaces .nav-el .upper .lefters img {
    width: 24px;
    height: 24px;
}

.wrapper nav .workspaces .nav-el .lower {
    border-left: 3px solid black;
    position: relative;
    padding-top: 10px;
    bottom: 6px;
    margin-left: 10px;
}
.wrapper nav .workspaces .nav-el .h8000AB {
    border-left: 3px solid #8000AB;
}
.wrapper nav .workspaces .nav-el .h674EE3 {
    border-left: 3px solid #674EE3;
}
.wrapper nav .workspaces .nav-el .F8B33C {
    border-left: 3px solid #F8B33C;
}
.wrapper nav .workspaces .nav-el .h007CFF {
    border-left: 3px solid #007CFF;
}
.wrapper nav .workspaces .nav-el .h20A475 {
    border-left: 3px solid #20A475;
}
.wrapper nav .workspaces .nav-el .hFF9392 {
    border-left: 3px solid #FF9392;
}

.wrapper nav .workspaces .nav-el .lower .lower-el {
    align-items: center;
    display: flex;
}
.wrapper nav .workspaces .nav-el .lower .lower-el .line {
    height: 3px;
}
.wrapper nav .workspaces .nav-el .lower .lower-el .topics {
    font-size: 18px;
    color: #666666;
}

.wrapper nav .create {
    position: absolute;
    bottom: 20px;
    background-color: rgb(225, 236, 254);
    width: 280px;
    height: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #007CFF;
    border-radius: 20px;
}

.wrapper nav .create .plus {
    font-family: Belbo-Thin;
    font-size: 60px;
}
.wrapper nav .create .new-space {
    font-size: 20px;
}