@media(max-width:1200px) {
    .wrapper main .top .work-info .details .tags .tags-el{
        flex-wrap: wrap;
    }
    .wrapper main .top .work-info .details .tags .tags-el .tag {
        max-width: 130px;
        margin-top: 5px;
    }
}
@media(max-width:1000px) {
    .wrapper nav .search .search-workspace {
        width: 220px;
    }
    .wrapper nav {
        width: 220px;
    }
    .wrapper nav .create { 
        width: 220px;
        left: 15px;
    }
}
@media(max-width:900px) {
    .wrapper nav {
        display: none;
    }
    .wrapper main {
        border-left:none;
        width: 100vw;
    }
    .wrapper {
        margin-left: 0;
    }
    .wrapper main .top .burger img {
        height: 40px;
        margin: 20px 0 0 20px;
        display: block;
    }
    .wrapper main .top .options {
        flex-wrap: wrap;
    }
    .wrapper main .top .work-info {
        padding: 10px 10px 0px 30px;
    }
    .wrapper main .top .work-info .details .tags .tags-el .tag {
    }
    .wrapper .pop-up-assign .pop-up-assign-wrapper {
        top: 0%;
        left: 0%;
        width: 100%;
        height: 100%;
        border: none;
        border-radius: none;
        background-color: white;
        backdrop-filter:none;
        margin-top: 0px;
        margin-left: 0px;
    }
    .wrapper .pop-up-assign .pop-up-assign-wrapper .content {
        flex-wrap: wrap;
    }
    .left-assign, .right-assign {
        min-height: 0;
    }
    .wrapper .pop-up-assign .pop-up-assign-wrapper .cross-small-assign {
        height: 24px;
        position: relative;
        left: 10px;
        top: 10px;
        background-color: #007CFF;
        border-radius: 50%;
        padding: 5px;
    }
    .images-container .profile-picture {
        display: none;
    }
    .wrapper main .top .work-info .details .assign .images .images-container .profile-picture:first-child {
        display: inline;
    }
}

@media(min-width:2400px) {
    .wrapper main {
        width: 80vw;
    }
    .wrapper nav {
        width: 20vw;
    }
    .wrapper nav .create { 
        width: 20vw;
        height: 5vh;
    }
}