.display {
    display: none;
}

.visible {
    max-height: 1000px;
    transition: max-height 2s;
    border-left: 3px solid;
}

.f8000AB {
    color: #8000AB;
    font-family: belbo-bold;
}
.f674EE3 {
    color: #674EE3;
    font-family: belbo-bold;
}
.fF8B33C {
    color: #F8B33C;
    font-family: belbo-bold;
}
.f007CFF {
    color: #007CFF;
    font-family: belbo-bold;
}
.f20A475 {
    color: #20A475;
    font-family: belbo-bold;
}
.fFF9392 {
    color: #FF9392;
    font-family: belbo-bold;
}

.task.dragging {
    opacity: .5;
}

.wrapper .pop-up-workspace .pop-up-workspace-wrapper .create-workspace .name.small-length {
    border-color: red;
}